.inner_column {
	overflow: initial;
}

.view_game_page .donate_btn, .view_game_page .buy_btn,
.html_embed_widget .button.load_iframe_btn, .html_embed_widget .button.restore_btn {
	border: solid 4px var(--itchio_link_color);
	font-size: 125%;
	line-height: 0.1;
	padding: 1em 0.8em;
	border-radius: 3px;
	text-shadow: 0 -1.5px #7b3381 !important;
	transition: text-shadow 0.1s, color 0.1s, background 0.1s;
	box-shadow: none;
}



.view_game_page .donate_btn:hover, .view_game_page .buy_btn:hover,
.html_embed_widget .button.load_iframe_btn:hover, .html_embed_widget .button.restore_btn:hover {
	text-shadow: initial !important;
	color: var(--itchio_link_color);
	background: none;
}

.html_embed_widget.base_widget.embed_wrapper {
	overflow: hidden;
}

.responsive .view_game_page .columns {
	max-width: initial;
}

.html_embed_widget .button.load_iframe_btn, .html_embed_widget .button.restore_btn {
	font-family: var(--itchio_font_family);
	font-size: 0;
	padding: 22px 16px;
}

.button.load_iframe_btn svg, .restore_btn.button svg {
	display: none;
}

.button.load_iframe_btn::before {
	font-size: 1.33rem;
	display: inline;
	content: 'Play Demo';
}

.restore_btn.button::before {
	font-size: 1.33rem;
	display: inline;
	content: 'Resume Demo';
}

.button.load_iframe_btn::after, .restore_btn.button::after {
	font-size: 1.67rem;
	margin-left: 0.3em;
	display: inline;
	content: '\25B6 \FE0E';
}

.build_row {
	display: none;
}

.more_information_toggle {
	display: none;
}

img {
   image-rendering: pixelated;
}

.formatted_description a {
	border-radius: 2px;
	text-decoration: none;
	text-underline-offset: 2px;
	padding: 0.2em 0.5em;
	display: inline-block;
	background-color: var(--itchio_text_color);
	color: white;
}

.formatted_description a:hover {
	text-decoration: underline;
}

.formatted_description a::after {
	padding-left: 0.2em;
	position: relative;
	display: inline-block;
	content: '\2197';
	font-size: 133%;
	line-height: 0.67;
	top: 0.075em;
}

.formatted_description > div:first-child > div {
	display: flex;
	align-items: center;
	gap: 1em;
	margin-bottom: 2em;
}

.formatted_description > div:first-child > div > div {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
}

.formatted_description > div:first-child > div div > * {
	margin-top: 0;
}

@media only screen and (max-width: 600px) {
	.formatted_description > div:first-child > div {
		flex-direction: column;
	}

	.formatted_description > div:first-child > div a, .formatted_description > div:first-child > div h2 {
		align-self: center;
	}
}

@media only screen and (min-width: 601px) {
	.formatted_description > div:first-child > div:nth-child(even) {
		flex-direction: row-reverse;
	}
}

@media only screen and (min-width: 601px) and (hover: hover) {
	.html_embed_widget .game_frame {
		width: initial !important;
		height: 240px !important;
	}
}

.formatted_description > div:first-child img {
	border-radius: 4px;
}

@media only screen and (min-width: 1220px) and (hover: hover) {
	.formatted_description > div:first-child img {
		cursor: zoom-in;
		transition: transform 0.133s, box-shadow 0.133s;
	}

	.formatted_description > div:first-child img:hover {
		transform: scale(2);
		z-index: 2;
		box-shadow: 0 0.3em 0.6em #30303050;
	}
}

kbd {
   font-weight: 600;
   font-family: inherit;
   display: inline-block;
   border: solid 1px #8184BD;
   background-color: #DBDBEF;
   box-shadow: 0 5px #8184BD;
   border-radius: 0.2em;
   padding: 0.2em 0.4em;
   margin-bottom: 0.5em;
   text-align: center;
}

.formatted_description > p:nth-of-type(2) {
   display: inline-grid;
   grid-template-columns: auto auto;
   align-items: center;
}

.formatted_description > p:nth-of-type(2) > *:nth-child(2n + 1) {
   justify-self: center;
}

.formatted_description > p:nth-of-type(2) {
   margin: 4px 0;
}

.formatted_description > p:nth-of-type(2) > *:nth-child(2n) {
   margin-left: 0.5em;
} 
.formatted_description > p:nth-of-type(2) > span:first-child {
   font-size: 0.67em;
   display: inline-grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   margin-bottom: 0.75em;
}

.formatted_description > p:nth-of-type(2) > span:first-child > * {
   margin: 0.1em;
}

.formatted_description > p:nth-of-type(2) > span:first-child > kbd:nth-child(1) {
   grid-area: 2 / 1;
}

.formatted_description > p:nth-of-type(2) > span:first-child > kbd:nth-child(2) {
   grid-area: 1 / 2;
}

.formatted_description > p:nth-of-type(2) > span:first-child > kbd:nth-child(3) {
   grid-area: 2 / 2;
}

.formatted_description > p:nth-of-type(2) > span:first-child > kbd:nth-child(4) {
   grid-area: 2 / 3;
}

.screenshot_list {
   display: none;
}

.header.has_image img {
   max-width: 87.5%;
}

#inner_column {
   box-shadow: 0 0 48px #006060;
}